__pycache__/
*.pyc
*.pyo
.env
*.env
.git
logs/
persona*/
.ICEauthority
backups/
tests/
run_tests.sh
.venv/
venv/
ENV/
.env.*
GitVersion.yml
skins/Rekku
skins/temp
node_modules/
*.vroid
# .dockerignore

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Local data and logs
logs/
backups/
*.db

# Python cache
*.pyc
__pycache__/
.venv/
